body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Main content Start */
main{
    background-color: #2D25A0;
    padding: 100px 0 200px 0; 
    
    
}
.container{
    width: 90%;
    margin: 0 auto;
}
.main-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main_section_content{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-content: flex-end;
}
.main_section_content h1{
    font-size: 64px;
    color: #fff;
    margin: 0;
}
.main_section_content a{
    display: inline-block;
    color:#fff;
    line-height: 24px;
    padding: 12px 30px;
    text-decoration: none;
    background-color: #E02C6D;
    width: 130px;
    text-align: center;
    margin-top: 25px;
    position: relative;
    transition: .6s;
    
}
.main_section_content a:hover{
    color: #E02C6D;
    background-color: #fff ;
}
.main_section_content a i{
    position: absolute;
    transform: translate(70%, 30%);
    animation-name: icone;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}
@keyframes icone{
    0%{
        right: 30px;
    }
    50%{
        right: 40px;
    }
    100%{
        right: 30px;
    }
}

.main_section_image{
    position: relative;
    width: 100%;
}
.main_section_image img{
    width: 100%;
    display: flex; 
    position: absolute;
    animation-name: move;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{
        right: 0;
    }
    50%{
        right: 40px;
    }
    100%{
        right: 0;
    }
}
/* Main content End */


/* Player Article Start */

article{
    padding: 50px 0;
}

.player_article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}
.palyer_card{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    transition: .5s;
}
.palyer_card:hover{
     transform: scale(1.02); 
}
.palyer_card img{
    width: 100%;
    border-radius: 5px;
}
.palyer_card h2{
    color: #18191F;
    font-size: 28px;
    margin: 15px 0;
}
.palyer_card p{
    color: #6C6C6C;
}

/* Player Article End */

/* official_partner start  */

.official_partner{
    background-color: #e6e6e6;
    padding: 50px 0;
}
.official_partner_image{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 40px;
}
.official_partner_image img{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.partner_h1{
    font-size: 45px;
    text-align: center;
    /* padding: 25px 0; */
    margin: 0;
    padding-bottom: 35px;
}

/* official_partner end  */
/* footer start  */
footer{
    padding: 50px;
    border-top: solid 1px royalblue;
}
.footer_content{
    text-align: center;
}
.footer_content img{
    width: 40%;
}
.social_icon{
    display: flex;
    justify-content: center;
    padding: 0;
}
.social_icon li{
    list-style: none;
    padding: 10px;
    
}
.social_icon li a{
    color: #969BAB;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(224, 224, 224);

}
.footer_content p{
    color: #000;
    font-size: 18px;
    text-align: center;
}
/* footer end   */